@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@900&display=swap');
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
:root{
  --primary-color-light:#F6F5FF;
  --header-color:#fff;
  --body-color:#ffffff;
  --search-color:#ebebeb;
  --nav-center-icon-color:#e0e0e0;
  --page-color:#f7f7f7;
  --the_left_page-color:#fff;
  --text-the_left_page-color:#727272;
  --toggle-color:#DDD;
  --shadow-header-color:#dbdbdb;

  --tran-02:all 0.2s ease;
  --tran-03:all 0.3s ease;
  --tran-04:all 0.4s ease;
  --tran-05:all 0.5s ease;
}
body.dark{
  --primary-color-light:#F6F5FF;
  --header-color:#242526;
  --body-color:#18191A;
  --search-color:#494949;
  --nav-center-icon-color:#868383;
  --page-color:#18191A;
  --the_left_page-color:#242526;
  --text-the_left_page-color:#CCC;
  --toggle-color:#FFF;
  --shadow-header-color:#383636;
}
body{
  transition:var(--tran-04);
  background-color:var(--page-color);
}
html{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #5a5a5a;
    background-color: var(--body-color);
    text-rendering: optimizeLegibility;
}
header{
  display:flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  box-shadow:0 1px 5px 2px var(--shadow-header-color);
  position:fixed;
  z-index: 4;
  background-color:var(--header-color);
}
.the_left_nav{
   display:flex;
   align-items: center;
   margin-left:2%;
   color:var(--text-the_left_page-color);
}
.logo{
   margin-right:15px;
   background-color:blueviolet;
   padding:7px 15px;
   color:white;
   font-weight:700;
   border-radius:20%;
   cursor: pointer;
}
.search{
  display:flex;
  padding:12px 20px;
  background-color:var(--search-color);
  border-radius: 20px;
}
.search input{
    margin-left: 4px;
    border:none;
    outline:none;
    background-color: var(--search-color);
}
.search .icon{
   font-size:16px;
   margin-right: 5px;
}
.the_center_nav{
   display:flex;
   align-items: center;
   justify-content: center;
   margin-right: 30px;
   color:var(--text-the_left_page-color);
}
.the_center_nav .icon{
    margin-right: 25px;
    font-size: 25px;
    padding: 10px 30px; 
    transition: all 0.5s;
    position: relative;
    text-decoration: none;
}
.the_center_nav .icon:hover,
.the_center_nav .icon:active{
    background-color:var(--nav-center-icon-color);
    border-radius: 10px;
    cursor: pointer;
}
.the_center_nav .icon:hover::after,
.the_center_nav .icon:active:after{
    position: absolute;
    content: "_______";
    top:20px;
    left: 1px;
    bottom: 1px;
}

.the_right_nav{
  display:flex;
  align-items: center;
  margin-right: 20%;
  color:var(--text-the_left_page-color);
}
.the_right_nav .icon{
  margin-right: 10px;
  font-size: 25px;
  color: var(--text-the_left_page-color);
}
/* -------------page---------- */
.page{
    background-color:  var(--page-color);
    height: 100%;
    width: 100%;

}
.the_left_page{
   margin-top: 5%;
   background-color:var(--the_left_page-color);
   display: flex;
   width: 16%;
   flex-direction: column;
   border-radius: 10px;
   font-size: 16px;
   padding-right: 2%;
   left: -14%;
   z-index: 3;
}

@keyframes trans_slide_bar_to_left {
  0% {
    left : -14%;
  }
  100% {
    left: 0;
  }
}

@keyframes trans_slide_bar_to_right {
  0% {
    left : 0%;
  }
  100% {
    left: -14%;
  }
}

 .letf_page{
   position:fixed;
}
.the_left_page li{
   margin-top:40px;
   list-style: none;
}
.the_left_page .menu li{
    transition:all 0.5s;
    padding-left: 25px;
}
.the_left_page .menu li:hover,
.the_left_page .menu li:hover{
    background-color:var(--nav-center-icon-color);
    padding:10px;
    padding-left: 10px;
    border-radius:15px;
    cursor: pointer;
}
.the_left_page li span{
   font-weight:550;
   font-size: 17px;
   color:var(--text-the_left_page-color);
}
.the_left_page li .icon{
   font-size: 20px;
   margin-right: 15px;
}
.the_left_page .mode{
    margin-left:25px;
    margin-top:90%;
    display: flex;
}
.the_left_page .mode .moon-sun{
      height:25px;
      width: 25px;
      display: flex;
      align-items: center;
}
.the_left_page .mode i{
    position: absolute;

}
.the_left_page .mode-text{
   font-size:16px;
}
.the_left_page .mode i.sun{
      opacity: 0;
}
body.dark .the_left_page .mode i.sun{
   opacity: 1;
}
body.dark .the_left_page .mode i.moon{
   opacity: 0;
}
.the_left_page .mode .toggle-switch{
    display:flex;
    align-items: center;
    justify-content:center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height:22px;
    width:44px;
    border-radius:25px;
    background:var(--toggle-color);
} 
.switch::before{
   content:'';
   position: absolute;
   height:15px;
   width: 15px;
   border-radius:50%;
   top:50%;
   left:5px;
   transform: translateY(-50%);
   background:var(--the_left_page-color);
   transition:var(--tran-03);
}
body.dark .switch::before{
    left:25px;
}
/*-------------------ctn_content-----------------*/
.ctn_content {
  width: 100%;
  height: 1000px;
  margin-top: 60px;
  /* margin-left: 5%; */
  /* background-color: #436282; */
  display: flex;
  justify-content: center;
}

































/*=============loading==================*/
.ctn__loading__body {
  position: fixed;
  top:0;
  right:0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: rgba(181, 181, 181, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.ctn__loading__body.open__load {
  animation-delay: 5s;
  display: flex;
}

.ctn__loading {
  animation: #fff linear 4s infinite;
  background-image: url(/Logo/PRO4-logos_black.png);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;

}

.ctn__loading__content {
  position: relative;
  width: 130px;
  height: 130px;
  border: 13px solid #00CCFF;
  border-radius: 50%;
  border-bottom-color: transparent;
  border-left-color: transparent;
  animation: rotate1 linear 2s infinite;
}

.ctn__loading__content::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border: 13px solid aquamarine;
  border-radius: 50%;
  border-bottom-color: transparent;
  border-left-color: transparent;
  animation: rotate2 linear 2s infinite;
}



@keyframes changecolor {
  0%{
      filter: hue-rotate(0deg);
  }
  100%{
      filter: hue-rotate(360deg);
  }
}

@keyframes rotate1 {
  0% {
      transform: rotate(0deg);
  }
  100%{
      transform: rotate(360deg);
  }
}

@keyframes rotate2 {
  0% {
      transform: rotate(0deg);
  }
  100%{
      transform: rotate(-720deg);
  }
}

/*=================featured project===================*/
/*--------------featured_projects----------------*/
.featured_projects {
  /* background-color: #b9c8cb; */
  width: 100%;
  height: 400px;
}

/*--------------potential_projects----------------*/
.potential_projects {
  /* background-color: #d8acac; */
  width: 100%;
}

.potential_projects h4{
  padding: 20px 0 10px 5%;
}

.form {
  padding: 25px 3% 25px 3%;
  display: flex;
  flex-direction: row;
}

.form .form_1-1 {
  position: relative;;
  width : 40%;
  height: 400px;
  margin: 0 2% 0 2%;
  z-index: 0;
}

.form .form_1-1 .img_w_title {
  width: 100%;
  height: 98%;
}


.form_1-1 .progessbar {
  position: absolute;
  bottom: 4px;
  background-color: #338CFF; 
  height: 1.5%; 
  width: 100%; 
  border: 1px solid #5a5a5a;
}

.form_1-1 .img_w_title{
  position: relative;
}

.img_w_title img {
  height: 100%;
  width: 100%;
}

.img_w_title h5 {
  color: #ffffff;
}

.img_w_title p {
  color: #ffffff;
  font-size: small;
}

.img_w_title .title {
  position: absolute;
  padding: 3%;
  bottom: 2%;
  width: 100%;
  background-image: linear-gradient(95deg, #485461 0%, #28313b 74%);
  opacity: 0;
}

@keyframes title_appear {
  0% {
    opacity: 0;
  } 
  100% {
    opacity: 0.8;
  }
}

.img_w_title:hover .title {
  animation-name: title_appear;
  animation-duration: 1s;
  opacity: 0.8;
  cursor: pointer;
}

.form .form_1-2 {
  margin: 0 2% 0 2%;
  width: 62%;
  height: 400px;
  display: flex;
  flex-direction: row;

}
.form .form_1-2 div{
  width: 90%;

}

.form .form_1-2 .form_bl{
  height: 48%;
  margin-bottom: 2%;
  background-repeat: no-repeat;
  color: white;
}

.form .form_1-2 .form_bl .title{
  padding: 5%;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(95deg, #485461 0%, #28313b 74%);

}

.form .form_1-2 .form_bl h2{
  font-size: 0.83em;
  color: white;
}

.form .form_1-2 .form_bl p{
  font-size: 0.8em;
  color: white;

}

/*------------bl1-----------------------*/
.form_1-2 .bl1 {
  background-image: url(../projects/img/feature_prj_2.avif);
  width: 100%;
  height: 50%;
}

.form_1-2 .bl1:hover {
  cursor: pointer;
}


.form_1-2 .bl1 .title {
  color: white;
  opacity: 0;
}

@keyframes trans_prj_1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}



.form_1-2 .bl1:hover .title {
  animation-name: trans_prj_1;
  animation-duration: 1s;
  opacity: 0.8;
}

/*------------bl3-----------------------*/

.form_1-2 .bl3 {
  background-image: url(../projects/img/feature_prj_3.avif);
  width: 100%;
  height: 50%;
}

.form_1-2 .bl3:hover {
  cursor: pointer;
}


.form_1-2 .bl3 .title {
  color: white;
  opacity: 0;
}

@keyframes trans_prj_3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}

.form_1-2 .bl3:hover .title {
  animation-name: trans_prj_3;
  animation-duration: 1s;
  opacity: 0.8;
}

/*------------bl2-----------------------*/

.form_1-2 .bl2 {
  background-image: url(../projects/img/feature_prj_1.avif);
  width: 100%;
  height: 50%;
}

.form_1-2 .bl2:hover {
  cursor: pointer;
}


.form_1-2 .bl2 .title {
  color: white;
  opacity: 0;
}

@keyframes trans_prj_2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}

.form_1-2 .bl2:hover .title {
  animation-name: trans_prj_2;
  animation-duration: 1s;
  opacity: 0.8;
}

/*------------bl4-----------------------*/

.form_1-2 .bl4 {
  background-image: url(../projects/img/feature_prj_4.avif);
  width: 100%;
  height: 50%;
}

.form_1-2 .bl4:hover {
  cursor: pointer;
}


.form_1-2 .bl4 .title {
  color: white;
  opacity: 0;
}

@keyframes trans_prj_4 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}

.form_1-2 .bl4:hover .title {
  animation-name: trans_prj_4;
  animation-duration: 1s;
  opacity: 0.8;
}






