<header>
        <div class="nav_pc">
            <div class="the_left_nav">
            <div class="logo">
              <img src="img/img_logo/logo.jpg" alt="">
          </div>
            <div class="search">
                <i class="fa-solid fa-magnifying-glass icon"></i>
                <input type="text" placeholder="Search...">
            </div> 
            </div>
            <div class="the_center_nav">
                <a id="homepage" class="fa-solid fa-house icon 1"></a>
                <a id="product" class="fa-brands fa-atlassian icon 2"></a>
                <a id="projects" class="fa-solid fa-earth-americas icon 3"></a>
            </div>
            <div class="the_right_nav">
                 <img id="img_login" src="{{users.img_author}}" alt="">
                <p>{{users.name_author}} 
                    <i class="fa-solid fa-sort-down icon"></i>
                </p>
            </div>
        </div>     
        <div class="mobile_nav">
            <div class="navtren">
                    <div class="logo">
                        <p>PRO4</p>
                    </div>
                     <div class="search">
                        <i class="fa-solid fa-magnifying-glass icon tk"></i>
                    </div> 
             </div>   
             <div class="navduoi">
                  <div class="the_center_nav">
                    <a id="homepage_mobile" class="fa-solid fa-house icon 1"></a>
                    <a id="product_mobile" class="fa-brands fa-atlassian icon 2"></a>
                   <a id="projects_mobile" class="fa-solid fa-earth-americas icon 3"></a>
                 </div>
                <label for="nav-mobile-input" class="nav_bars-btn">
                    <i class="fa-solid fa-bars"></i>
                </label>

             </div>   
        </div>   
        <input type="checkbox" name="" hidden="true" class="nav__input" id="nav-mobile-input">
        <label for="nav-mobile-input"  class="nav_overlay"></label>
        <ul class="mobile_nav_drop">
           <label for="nav-mobile-input"><i class="fa-solid fa-xmark nav_mobile_close"></i> </label>
           <div class="menu_mobile">
                 <a href="me"> <li class="menu-me">
                    <i class="fa-solid fa-calendar" style="font-size: 20px;margin-right: 15px;"></i>
                    <span>MY PROJECT</span>
                </li>
                </a>
               <a href="Game"> <li class="menu-game">
                    <i class="fa-solid fa-gamepad icon"></i>
                    <span>Game</span>
                </li>
                </a>
                <a href="App"><li class="menu-app">
                    <i class="fa-brands fa-app-store icon"></i>
                    <span>App</span>
                </li>
                </a>
               <a href="Ai"> <li class="menu-AI">
                    <i class="fa-solid fa-robot icon"></i>
                    <span>AI</span>
                </li>
                </a>
                <a href="costume"><li class="menu-costume">
                    <i class="fa-solid fa-shirt icon"></i>
                    <span>Costume</span>
                </li>
                </a>    
                <a href="ecommerce"> <li class="menu-ecommerce">
                    <i class="fa-brands fa-shopify icon"></i>
                    <span>Ecommerce</span>
                </li>
                </a>
            </div> 
            <li class="mode-mobile">
                <div class="moon-sun_mobile">
                    <i class="fa-solid fa-moon moon_mobile "></i>
                    <i class="fa-solid fa-sun sun_mobile"></i>
                </div>
                <span class="mode-text_mobile">Dark Mode</span>
                <div class="toggle-switch_mobile">
                    <span class="switch_mobile"></span>
                </div>
            </li>
        </ul>        
    </header>

    <div class="page">
        <ul class="the_left_page letf_page">
           <div class="menu">
               <a href="Game"> <li class="menu-game">
                    <i class="fa-solid fa-gamepad icon"></i>
                    <span>Game</span>
                </li>
                </a>
                <a href="App"><li class="menu-app">
                    <i class="fa-brands fa-app-store icon"></i>
                    <span>App</span>
                </li>
                </a>
               <a href="Ai"> <li class="menu-AI">
                    <i class="fa-solid fa-robot icon"></i>
                    <span>AI</span>
                </li>
                </a>
                <a href="costume"><li class="menu-costume">
                    <i class="fa-solid fa-shirt icon"></i>
                    <span>Costume</span>
                </li>
                </a>    
                <a href="ecommerce"> <li class="menu-ecommerce">
                    <i class="fa-brands fa-shopify icon"></i>
                    <span>Ecommerce</span>
                </li>
                </a>
            </div> 
            <li class="mode">
                <div class="moon-sun">
                    <i class="fa-solid fa-moon moon "></i>
                    <i class="fa-solid fa-sun sun"></i>
                </div>
                <span class="mode-text">Dark Mode</span>
                <div class="toggle-switch">
                    <span class="switch"></span>
                </div>
            </li>
        </ul>
        <div class="center_page">          
             <div class="Infor Game">
                    <div class="author">
                        <img src="content/Game/author/14720536_1797565987159824_7956249866022643798_n_njek.jpg" alt="">
                        <div class="infor_author">
                            <span>Trực tiếp game</span>
                            <p>5h <i class="fa-solid fa-earth-americas icon 3"></i> </p>
                        </div>
                    </div>
                    <div class="info-des">
                        <p>Dự án được thực hiện bởi DUT team </p>
                        <p>Thần Trùng (The Death) là dự án game kinh dị do DUT Studio (chỉ gồm 3 thành viên) sản xuất, lấy bối cảnh 100% tại Việt Nam. Fanpage studio: <a href="https://www.facebook.com/dutstudiovn"> https://www.facebook.com/dutstudiovn </a>
                           Trailer game có những hình ảnh rùng rợn, khán giả cân nhắc trước khi xem.
                           Các nhân vật, tình huống và sự kiện trong video này đều là sản phẩm hư cấu.
                           Mọi sự trùng hợp nếu có chỉ là ngẫu nhiên. Gameplay, nhân vật và bối cảnh trong trailer có thể sẽ được sửa đổi trong tương lai.
                           Trong trailer có sử dụng một số hình ảnh tranh cổ động phòng chống dịch COVID - 19 (Bức tranh với thông điệp “Ở nhà là yêu nước” của họa sỹ Lê Đức Hiệp; tranh của họa sĩ Lưu Yên Thế) cùng với bài hát nổi tiếng "Đồi Thông Hai Mộ" của nhạc sĩ Hồng Vân và trình bày bởi ca sĩ Hoàng Oanh.</p>
                        <div class="video-game">
                            <video width="100%" controls>
                              <source src="content/Game/Thần trùng/than-trung-gameplay-trailer-game-kinh-di-viet-nam-vietnam-horror-game-dut-studio-2021.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>
                    <hr>
                <div class="decription">  
                  <div class="emotion">
                      <i class="fa-regular fa-heart"></i>
                      <i class="fa-regular fa-comment"></i>
                      <i class="fa-solid fa-share-nodes"></i>
                  </div>
                  <div class="donate-investment">
                     <a href="donate"> <p class="donate">Donate</p> </a>
                      <p class="investment">Investment</p> 
                  </div>   
                </div>       
            </div>
            
        </div>

         <div class="the_right_page">
                <ul class="investor_rankings">
                    <p class="ranking"> Investor Rankings </p>
                    <li class="Investor 1">
                        <img src="content/277822595_675257793692053_156162619594281754_n.jpg" alt="">
                        <div class="infor_Investor">
                            <span>Trần Hoàng</span>
                            <div class="star">
                                <i style="color:rgb(255, 230, 0)" class="fa-solid fa-star"></i>
                                <i style="color:rgb(255, 230, 0)" class="fa-solid fa-star"></i>
                                <i style="color:rgb(255, 230, 0)" class="fa-solid fa-star"></i>
                                <i style="color:rgb(255, 230, 0)" class="fa-solid fa-star"></i>
                                <i style="color:rgb(255, 230, 0)" class="fa-solid fa-star"></i>
                            </div>
                        </div>
                    </li>
                    <li class="Investor 2">
                        <img src="content/shark-hung-la-ai.jpg" alt="">
                        <div class="infor_Investor">
                            <span>Phạm Thanh Hưng</span>
                           <div class="star">
                                <i  class="fa-regular fa-star"></i>
                                <i style="color:rgb(255, 230, 0)" class="fa-solid fa-star"></i>
                                <i style="color:rgb(255, 230, 0)" class="fa-solid fa-star"></i>
                                <i style="color:rgb(255, 230, 0)" class="fa-solid fa-star"></i>
                                <i style="color:rgb(255, 230, 0)" class="fa-solid fa-star"></i>
                           </div>    
                        </div>
                    </li>
                    <li class="Investor 3">
                        <img src="content/ElonMusk-2017-stageshot-9046-1650013535.jpg" alt="">
                        <div class="infor_Investor">
                            <span>Elon Musk</span>
                           <div class="star">
                                <i  class="fa-regular fa-star"></i>
                                <i style="color:rgb(255, 230, 0)" class="fa-solid fa-star"></i>
                                <i style="color:rgb(255, 230, 0)" class="fa-solid fa-star"></i>
                                <i style="color:rgb(255, 230, 0)" class="fa-solid fa-star"></i>
                                <i style="color:rgb(255, 230, 0)" class="fa-solid fa-star"></i>
                           </div>    
                        </div>
                    </li>
                </ul>
                
                <ul class="Top_project Top_project_fix">
                    <hr>
                    <p class="ranking"> Top Project</p>
                    <a href="App"><li class="Project 1">
                        <img src="content/App/Tích hợp thực tế tăng cường (AR)/Thực tế ảo.jpeg" alt="">
                        <div class="infor_project">
                            <span>Tích hợp thực tế tăng cường (AR)</span>
                        </div>
                    </li>
                    </a>
                    <a href="App">
                    <li class="Project 2">
                        <img src="content/App/Công nghệ Beacon/Công nghệ Beacon.jpg" alt="">
                        <div class="infor_project">
                            <span>Công nghệ Beacon Sự phát triển</span>
                          
                        </div>
                    </li>
                    </a>
                </ul>
        </div>


    </div>
        
        <div class="the_right_page">

        </div>
    </div>
    {{!-- footer --}}
    <div class="ctn__footer">
        <div class="ctn__footer__content">
            <div class="footer__colum f__strart">
                <a href="signup" style="border: none;">Get Started</a>
                <ul>
                    <li><a href="Login">Start Fundraise</a></li>
                    <li><a href="#">Investor Signup</a></li>
                    <li><a href="#">Account Login</a></li>
                </ul>
            </div>
            <div class="footer__colum f__browse">
                <a href="#">Browse</a>
                <ul>
                    <li><a href="#">Trending</a></li>
                    <li><a href="#">Recently</a></li>
                    <li><a href="#">Start-up Magazine</a></li>
                    <li><a href="#">Communities</a></li>
                </ul>
            </div>
            <div class="footer__colum f__resources">
                <a href="#">Resources</a>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Guidelines</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="footer__colum f__legal">
                <a href="#">Legal</a>
                <ul>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Service</a></li>
                </ul>
            </div>
            <div class="footer__colum f__follow">
                <a href="#">Follow</a>
                <ul class="list-follow">
                    <a href="#"><i class="fa-brands fa-facebook-square"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="#"><i class="fa-brands fa-youtube"></i></a>
                </ul>
            </div>
        </div>
        <!-- another footer -->
        <div class="ctn__footer__describle">
            <div class="sponsor">
                <p>Special thanks for sponsors</p>
                <div class="ctn__brands__img">
                    <p class="img__img">
                        Brand A
                    </p>
                    <p class="img__img">
                        Brand B
                    </p>
                    <p class="img__img">
                        Brand C
                    </p>
                    <p class="img__img">
                        Brand D
                    </p>
                    <p class="img__img">
                        Brand E
                    </p>
                </div>
            </div>
            <div class="describle">
                <p class="coppyright">
                    Copyright © 2022 Startups.com. All rights reserved.
                </p>
                <p class="content__describle">
                    PRO4 is a software as a service crowdfunding platform. PRO4 is not a 
                    registered broker-dealer and does not offer investment advice or advise on the
                     raising of capital through securities offerings. PRO4 does not recommend 
                     or otherwise suggest that any investor make an investment in a particular company, 
                     or that any company offer securities to a particular investor. PRO4 takes no 
                     part in the negotiation or execution of transactions for the purchase or sale of 
                     securities, and at no time has possession of funds or securities. No securities
                      transactions are executed or negotiated on or through the PRO4 platform. 
                      PRO4 receives no compensation in connection with the purchase or sale of securities. 
                </p>
            </div>
        </div>
    </div>


    
    <div class="ctn__loading__body">
        <div class="ctn__loading">
            <div class="ctn__loading__content">
                
            </div>
        </div>
    </div>




       <script
        src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous">
    </script>
    <script src="jquery.waypoints.min.js"></script>
    <script src="js/scriptproduct.js"></script>
