:root{
  --primary-color-light:#F6F5FF;
  --header-color:#fff;
  --body-color:#ffffff;
  --search-color:#ebebeb;
  --nav-center-icon-color:#e0e0e0;
  --page-color:#eff3f6;
  --the_left_page-color:#fff;
  --text-the_left_page-color:#727272;
  --toggle-color:#DDD;
  --shadow-header-color:#dbdbdb;
  --footer-end-color : #2a262c;
  --footer-content-color : #666;
  --footer-content-color-bright: #7b8490;

  --tran-02:all 0.2s ease;
  --tran-03:all 0.3s ease;
  --tran-04:all 0.4s ease;
  --tran-05:all 0.5s ease;
}

/* -------------page---------- */
.page{
    background-color:  var(--page-color);
    height:100%;
    width:100%;
    display: flex;
}

/*--------------------------------- the right page------------------------ */
.the_right_page{
  margin-top: 6%;
  margin-left: 8%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.ranking{
   font-weight: 595;
   color:var(--text-the_left_page-color);
   margin-top: 10px;
}
.investor_rankings{
  position:fixed;
}
.Investor img{
  width:50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.Investor{
  display:flex;
  margin-left: 12%;
  margin-top:10%;
  font-size: 16px;
  
}
.the_right_page li{
  list-style: none;
  margin-bottom: 30px;
  margin-top: 10px;
}

.Investor span{
   color:var(--text-the_left_page-color);
}
.infor_Investor{
   margin-left: 5px;
   display: flex;
   flex-direction: column;
}

.Top_project_fix{
    position:fixed;
}

.Top_project{
   margin-top:10px;
   top:350px;
}

.Project {
  display: flex;
  transition: all 0.5s;
}

.Project:hover,
.Project:active{
   cursor: pointer;
   background-color:var(--nav-center-icon-color);
   padding:5px;
   padding-bottom: 10px;
   border-radius:10px;
}

.Project img{
   width: 130px;
   border-radius: 10%;
   margin-top: 10px;
   margin-left: 10px;
   margin-right: 10px; margin-right: 10px;
   box-shadow:0px 2px 4px 1px var(--shadow-header-color); ;
}
.Project span{
   font-size:16px;
   color: var(--text-the_left_page-color);
}
 
a{
  text-decoration: none;
  color:var(--text-the_left_page-color);
}

/*comment*/
.ctn_comment {
  display: none;

}

.ctn_comment .bl__ctn_comment{
  display: flex;
  justify-content: center;
  margin: 20px 20px;
}

.ctn_comment .avatar {
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.ctn_comment .bl__ctn_comment form{
  display: flex; 
  flex-direction: row;
  width: 90%;
}

.bl__ctn_comment input {
  padding: 10px;
  border-radius: 10px;
  width: 80%;
  height: 40px;
}

.bl__ctn_comment button {
  height: 40px;
  font-size: 25px;
  padding : 0 10px;
  border-radius: 10px;
  margin: 0 10px;
  background-color: white;
  border: none;
}

.bl__ctn_comment button:hover {
  cursor: pointer;
}

.ctn_comment.open_cmt{
  display: flex;
  justify-content: center;
}

/*comment_1*/
.ctn_comment_1 {
  display: none;

}

.ctn_comment_1 .bl__ctn_comment_1{
  display: flex;
  justify-content: center;
  margin: 20px 20px;
}

.ctn_comment_1 .avatar {
  background-image: url();
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.ctn_comment_1 input {
  padding: 10px;
  border-radius: 10px;
  width: 90%;
  height: 40px;
}

.ctn_comment_1.open_cmt{
  display: flex;
  justify-content: center;
}

/*comment_2*/
.ctn_comment_2 {
  display: none;

}

.ctn_comment_2 .bl__ctn_comment_2{
  display: flex;
  justify-content: center;
  margin: 20px 20px;
}

.ctn_comment_2 .avatar {
  background-image: url();
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.ctn_comment_2 input {
  padding: 10px;
  border-radius: 10px;
  width: 90%;
  height: 40px;
}

.ctn_comment_2.open_cmt{
  display: flex;
  justify-content: center;
}

.center_page {
  min-height: 100vh;
}