    <header>
        <div class="the_left_nav">
          <div class="logo">
              <p>PRO4</p>
          </div>
          <div class="search">
              <i class="fa-solid fa-magnifying-glass icon"></i>
              <input type="text" placeholder="Search...">   
          </div> 
        </div>
        <div class="the_center_nav">
            <a href="../homepage" id="homepage" class="fa-solid fa-house icon 1" style="color: #727272;"></a>
            <a href="../product" id="product" class="fa-solid fa-earth-americas icon 2" style="color: #727272;"></a>
            <a href="../detail" id="projects" class="fa-solid fa-circle-dollar-to-slot icon 3" style="color: #727272;font-size: 28px;"></a>

        </div>
        <div class="the_right_nav" onclick=handle_user()>
             <img id="img_login" src="{{users.img_author}}" alt="">
                <p>{{users.name_author}} 
                    <i class="fa-solid fa-sort-down icon"></i>
                </p>
                <ul class="user-drop">
                        <i class="fa-solid fa-xmark project_close " onclick=handle_user()> </i>
                        <div class="menu_drop">
                            <li>
                               <a href="/profile"> Profile </a> 
                            </li>
                            <li>
                                 <a href="#"> Statistic </a> 
                            </li>
                            <li>
                                <a href="/post_project_created"> Add new project </a>
                            </li>
                             <li>
                                <a href="home"> Logout </a>
                            </li>
                        </div> 
                    </ul>
        </div>     
        <div class="bars">
            <i class="ti-menu" onclick=open_nav_mobile()></i>
        </div>    
        <div class="nav_mobile">
            <div class="close" onclick=close_nav_mobile()>
                <i class="ti-close">
                    
                </i>
                Close
            </div>
            <div class="homepage" style="padding: 20px;">
                <a id="homepage" class="fa-solid fa-house icon 1" style="padding: 0 10px;" href="homepage">
                </a>
                <a href="homepage">
                    HOME
                </a>
            </div>
            <div class="product" style="padding: 20px;">
                <a id="product" class="fa-brands fa-atlassian icon 2" style="padding: 0 10px;" href="product">
                </a>
                <a href="product">
                    POSTS
                </a>
            </div>
            <div class="projects" style="padding: 20px;">
                <a id="projects" class="fa-solid fa-earth-americas icon 3" style="padding: 0 10px;" href="detail">
                </a>
                <a href="detail">
                    PROJECTS
                </a>
            </div>
        </div>
    </header>
    

    <div style="margin-top: 60px;" class="content_profile"c>
        <div class="right_content">
            <div class="nav" style="display: flex;flex-direction: column;">

                <div class="wrapper">
                    <div class="icon user">
                        <i class="fa-solid fa-user" onclick=trans_user()></i>
                        <span class="tooltip">About me</span>
                    </div>
                    <div class="icon my_project">
                        <i class="fa-solid fa-file-shield" onclick=trans_my_project()></i>
                        <span class="tooltip">My project</span>
                    </div>
                    <div class="icon prj_favorite">
                        <i class="fa-solid fa-heart-circle-check" onclick=trans_prj_favorite()></i>
                        <span class="tooltip">Favorite project</span>
                    </div>
                    <div class="icon log_out">
                        <i class="fa-solid fa-right-from-bracket"></i>

                    </div>
                </div>

                <div class="nav_bar_profile">
                     <div class="ctn_about_me open">
                        <div class="info_user">
                            <div class="label">
                                <p style="margin: 20px 0;">
                                    Hi!
                                    Welcome to my wall 
                                    <i class="fa-solid fa-pencil" style="font-size: 15px; margin-left: 5px; margin-bottom: 2.5px;"></i>
                                </p>
                                <hr style="width: 60%; margin: 20px auto;">
                            </div>
                            <div class="infor">
                                <table>
                                    <tr>
                                        <td>
                                            Name
                                        </td>
                                        <td class="user_name" >
                                            Phạm Thanh Hưng
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            D.O.B
                                        </td>
                                        <td class="user_dob">
                                            10/09/1972
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="user_tel">
                                            Phone
                                        </td>
                                        <td>
                                            +84 326 xxx xxxx
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Address
                                        </td>
                                        <td class="user_address">
                                            Ha Noi, Viet Nam
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Email
                                        </td>
                                        <td class="user_email">
                                            sharkhung@cenland.com.vn
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Strength
                                        </td>
                                        <td>
                                            Business, Invest
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <hr style="height: 70%;margin: auto 0;">
                        <div class="project_demo_user">
                            <h2 style="height: 30%;">
                                <i class="fa-solid fa-id-badge" style="margin-right: 20px;"></i>Contact
                            </h2>
                           <ul>
                                <li style="--i:6;--clr:#1877f2;">
                                    <a href="https://www.facebook.com/hungpham7968">
                                        <span>
                                            <i class="fa-brands fa-facebook-f"></i>
                                        </span>
                                        Facebook
                                    </a>
                                </li>
                                <li style="--i:5;--clr:#25d366;">
                                    <a href="#">
                                        <span>
                                            <i class="fa-brands fa-telegram"></i>
                                        </span>
                                        Telegram
                                    </a>
                                </li>
                                <li style="--i:4;--clr:#1da1f2;">
                                    <a href="#">
                                        <span>
                                            <i class="fa-brands fa-twitter"></i>
                                        </span>
                                        Twitter
                                    </a>
                                </li>
                                <li style="--i:3;--clr:#c32aa3;">
                                    <a href="#">
                                        <span>
                                            <i class="fa-brands fa-instagram"></i>
                                        </span>
                                        Instagram
                                    </a>
                                </li>
                            </ul>
                        </div>
                     </div>

                     <div class="ctn_my_project">
                        <div class="total_projects">
                            <h2>
                                My total projects
                            </h2>  

                            <div class="card_project card_1 open">
                                <div class="form_card_project" onclick=open_prj_1() style="background-color: white;">
                                    <div>
                                        <img src="img/imgproject/phuctrang1.jpg" alt="">
                                    </div>
                                    
                                    <h1>
                                       <a href="/create_project/hoi-sinh-co-phuc-tuong-lai-noi-dai-tu-qua-khu">
                                            Restore Vietnam's ancient history
                                       </a>
                                    </h1>
                                    <p>Project on restoration, collection and research on ancient costume culture in different eras of Vietnam. In order to highlight the unique characteristics of Vietnamese culture</p>
                                    
                                </div>
                                <div class="form_card_project" onclick=open_prj_1() style="background-color: white;">
                                    <div>
                                        <img src="img/imgproject/prj_photo1.png" alt="">
                                    </div>
                                    
                                    <h1>
                                        <a href="/create_project/digi-swap-or-or-upcycling-film-cameras-into-digital-cameras">
                                            DIGI SWAP || Upcycling film cameras into digital cameras

                                        </a>
                                    </h1>
                                    <p>Patented adapter and app that upcycles film cameras allowing you to use the original camera settings to capture digital photos and video.</p>
                                    
                                </div>
                                
                            </div>

                            <div class="card_project card_2">
                                <div class="form_card_project" onclick=open_prj_1() style="background-color: white;">
                                    <div>
                                        <img src="img/imgproject/project_bed.avif" alt="">
                                    </div>
                                    
                                    <h1>
                                        <a href="/create_project/bed-pillow-or-adaptive-ergonomics-to-improve-your-sleep">
                                            Bed Pillow | Adaptive ergonomics to improve your sleep

                                        </a>
                                    </h1>
                                    <p>Innovative design and high-quality materials for a proper rest in any position</p>
                                    
                                </div>
                                <div class="form_card_project" onclick=open_prj_1() style="background-color: white;">
                                    <div>
                                        <img src="img/imgdetail/art2.avif" alt="">
                                    </div>
                                    
                                    <h1>
                                        <a href="/create_project/">
                                            Bibliotech Tarot | A cyberpunk scifi horror tarot deck

                                        </a>
                                    </h1>
                                    <p>Cyberpunk tarot card project by a talented young design team By Young Team</p>
                                    
                                </div>
                                
                            </div>

                            <div class="card_project card_3">
                                <div class="form_card_project" onclick=open_prj_1() style="background-color: white;">
                                    <div>
                                        <img src="img/imgproject/prj_mood_1.jpg" alt="">
                                    </div>
                                    
                                    <h1>
                                        <a href="/create_project/mood-hard-enamel-pins">
                                            Mood. Hard Enamel Pins

                                        </a>
                                    </h1>
                                    <p>A series of pins based on mu.andcoco's illustrations spreading peaceful and positive vibes only.</p>
                                    
                                </div>
                                <div class="form_card_project" onclick=open_prj_1() style="background-color: white;">
                                    <div>
                                        <img src="img/imghome/project4.avif" alt="">
                                    </div>
                                    
                                    <h1>
                                        <a href="">
                                            Cyberpunk Mini Alley - Bookshelf Insert / Booknook

                                        </a>
                                        
                                    </h1>
                                    <p>A fully assembled, high-quality handmade bookshelf Insert with a Cyberpunk diorama theme. Includes many personalizable addons.</p>
                                    
                                </div>
                                
                            </div>
                            
                            <ul class="num_count_project">
                                <li onclick=open_card_1()>1</li>
                                <li onclick=open_card_2()>2</li>
                                <li onclick=open_card_3()>3</li>
                                <li>4</li>
                            </ul>
                        </div>

                        <hr style="width : 60%;margin: 0 auto;">

                        <div class="my_project_statistic">
                            <h2 style="width: 100%;text-align: center;margin: 50px 0;">Statistic my projects</h2>
                            <div style="width: 60%;margin: 20px auto 50px auto;">
                                <canvas id="myChart"></canvas>
                            </div>
                        </div>
                     </div>

                     <div class="ctn_favorite_project">
                        <h1 style="margin: 50% 0 0 0;">No favorite projects</h1>
                     </div>
                </div>

            </div>
        </div>
    </div>
   

    <div class="left_content" style="display : flex; justify-content: center;">
        <div style="width: 80%;margin: 0 auto;">
            <div style="width: 100%;">
                <div class="avatar_profile" style="background-image: url(/img/imgprofile/sharkhung.png);">
                    
                </div>
            </div>
            <h2 class="name_user">
                Phạm Thanh Hưng
            </h2>
            <div class="title_user">
                “Các bạn phải có một ước mơ đủ lớn để có chỗ người khác tham gia vào. Chứ ước mơ của các bạn quá bé, bản thân các bạn ngồi đã chật rồi, chúng tôi không còn chỗ"
            <div class="edit">
                <button>Edit profile</button>
            </div>
        </div>
    </div>
   


       <script
        src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/1b6a20c6b1.js" crossorigin="anonymous"></script>
    <script src="jquery.waypoints.min.js"></script>
    <script src="js/profile.js"></script>
    












