    <header>
        <div class="the_left_nav">
          <div class="logo">
              <p>PRO4</p>
          </div>
          <div class="search">
              <i class="fa-solid fa-magnifying-glass icon"></i>
              <input type="text" placeholder="Search...">   
          </div> 
        </div>
        <div class="the_center_nav">
            <a href="../homepage" id="homepage" class="fa-solid fa-house icon 1" style="color: #727272;"></a>
            <a href="../product" id="product" class="fa-solid fa-earth-americas icon 2" style="color: #727272;"></a>
            <a href="../detail" id="projects" class="fa-solid fa-circle-dollar-to-slot icon 3" style="color: #727272;font-size: 28px;"></a>

        </div>
        <div class="the_right_nav">
            <i class="fa-solid fa-right-to-bracket icon"></i>
            <a href="Login" style="text-decoration: none;">Login</a>
        </div>     
        <div class="bars">
            <i class="ti-menu" onclick=open_nav_mobile()></i>
        </div>    
        <div class="nav_mobile">
            <div class="close" onclick=close_nav_mobile()>
                <i class="ti-close">
                    
                </i>
                Close
            </div>
            <div class="homepage" style="padding: 20px;">
                <a id="homepage" class="fa-solid fa-house icon 1" style="padding: 0 10px;" href="homepage">
                </a>
                <a href="homepage">
                    HOME
                </a>
            </div>
            <div class="product" style="padding: 20px;">
                <a id="product" class="fa-brands fa-atlassian icon 2" style="padding: 0 10px;" href="product">
                </a>
                <a href="product">
                    POSTS
                </a>
            </div>
            <div class="projects" style="padding: 20px;">
                <a id="projects" class="fa-solid fa-earth-americas icon 3" style="padding: 0 10px;" href="detail">
                </a>
                <a href="detail">
                    PROJECTS
                </a>
            </div>
        </div>
    </header>
    

    <div style="margin-top: 60px;" class="content_profile"c>
        <div class="right_content">
            <div class="nav" style="display: flex;flex-direction: column;">

                <div class="wrapper">
                    <div class="icon user">
                        <i class="fa-solid fa-user" onclick=trans_user()></i>
                        <span class="tooltip">About me</span>
                    </div>
                    <div class="icon my_project">
                        <i class="fa-solid fa-file-shield" onclick=trans_my_project()></i>
                        <span class="tooltip">My project</span>
                    </div>
                    <div class="icon prj_favorite">
                        <i class="fa-solid fa-heart-circle-check" onclick=trans_prj_favorite()></i>
                        <span class="tooltip">Favorite project</span>
                    </div>
                    <div class="icon log_out">
                        <i class="fa-solid fa-right-from-bracket"></i>

                    </div>
                </div>

                <div class="nav_bar_profile">
                     <div class="ctn_about_me open">
                        <div class="info_user">
                            
                        </div>
                        <hr style="height: 70%;margin: auto 0;">
                        <div class="project_demo_user">
                            <h2 style="height: 30%;">
                                <i class="fa-solid fa-id-badge" style="margin-right: 20px;"></i>Contact me by 
                            </h2>
                           <ul>
                                <li style="--i:6;--clr:#1877f2;">
                                    <a href="https://www.facebook.com/profile.php?id=100013929228135">
                                        <span>
                                            <i class="fa-brands fa-facebook-f"></i>
                                        </span>
                                        Facebook
                                    </a>
                                </li>
                                <li style="--i:5;--clr:#25d366;">
                                    <a href="#">
                                        <span>
                                            <i class="fa-brands fa-telegram"></i>
                                        </span>
                                        Telegram
                                    </a>
                                </li>
                                <li style="--i:4;--clr:#1da1f2;">
                                    <a href="#">
                                        <span>
                                            <i class="fa-brands fa-twitter"></i>
                                        </span>
                                        Twitter
                                    </a>
                                </li>
                                <li style="--i:3;--clr:#c32aa3;">
                                    <a href="#">
                                        <span>
                                            <i class="fa-brands fa-instagram"></i>
                                        </span>
                                        Instagram
                                    </a>
                                </li>
                            </ul>
                        </div>
                     </div>

                     <div class="ctn_my_project">
                        <header class="total_project">
                            Total projects
                        </header>
                     </div>

                     <div class="ctn_favorite_project">
                        <h1>favorite project</h1>
                     </div>
                </div>

            </div>
        </div>
    </div>
   

    <div class="left_content" style="display : flex; justify-content: center;">
        <div style="width: 80%;margin: 0 auto;">
            <div style="width: 100%;">
                <div class="avatar_profile" style="background-image: url(/img/imgprofile/sharkhung.png);">
                    
                </div>
            </div>
            <h2 class="name_user">
                Phạm Thanh Hưng
            </h2>
            <div class="title_user">
                “Các bạn phải có một ước mơ đủ lớn để có chỗ người khác tham gia vào. Chứ ước mơ của các bạn quá bé, bản thân các bạn ngồi đã chật rồi, chúng tôi không còn chỗ"
            <div class="edit">
                <button>Edit profile</button>
            </div>
        </div>
    </div>
   


       <script
        src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous">
    </script>
    <script src="jquery.waypoints.min.js"></script>
    <script src="js/profile.js"></script>
    












