@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@900&display=swap');
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
:root{
  --primary-color-light:#F6F5FF;
  --header-color:#fff;
  --body-color:#ffffff;
  --search-color:#ebebeb;
  --nav-center-icon-color:#e0e0e0;
  --page-color:#f7f7f7;
  --the_left_page-color:#fff;
  --text-the_left_page-color:#727272;
  --toggle-color:#DDD;
  --shadow-header-color:#dbdbdb;
  --footer-end-color : #2a262c;
  --footer-content-color : #666;
  --footer-content-color-bright: #7b8490;

  --tran-02:all 0.2s ease;
  --tran-03:all 0.3s ease;
  --tran-04:all 0.4s ease;
  --tran-05:all 0.5s ease;
}
body.dark{
  --primary-color-light:#F6F5FF;
  --header-color:#242526;
  --body-color:#18191A;
  --search-color:#494949;
  --nav-center-icon-color:#868383;
  --page-color:#18191A;
  --the_left_page-color:#242526;
  --text-the_left_page-color:#CCC;
  --toggle-color:#FFF;
  --shadow-header-color:#383636;
}
body{
  transition:var(--tran-04);
  background-color:var(--page-color);
  transition: all 0.5s;
}
html{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #5a5a5a;
    background-color: var(--body-color);
    text-rendering: optimizeLegibility;
}
header{
  width: 100%;
  height: 60px;
  box-shadow:0 1px 5px 2px var(--shadow-header-color);
  position:fixed;
  z-index: 4;
  background-color:var(--header-color);
}
/* mobile nav */
.nav_pc{
    display:flex;
    justify-content: space-between;
}
.mobile_nav{
   display:flex;
   flex-direction: column;
   display:none;
}
.navtren{
   display:flex;
   justify-content:space-between;
}
.navduoi{
    display:flex;
    justify-content:space-around
}
.the_left_nav{
   display:flex;
   align-items: center;
   margin-left:2%;
   margin-top:10px;
   color:var(--text-the_left_page-color);
}
.nav_bars-btn{
   margin-top: 7px;
   font-size:24px;
   font-weight:25px;
}
.logo{
  margin-right:15px;
  background-color:rgb(0, 0, 0);
  padding:7px 15px;
  color:white;
  font-weight:800;
  border-radius:5px;
  cursor: pointer;

}
.search{
  display:flex;
  padding:12px 20px;
  background-color:var(--search-color);
  border-radius: 20px;
}
.search input{
    margin-left: 4px;
    border:none;
    outline:none;
    background-color: var(--search-color);
}
.search .icon{
   font-size:16px;
   margin-right: 5px;
}
.the_center_nav{
   display:flex;
   align-items: center;
   justify-content: center;
   margin-right: 30px;
   color:var(--text-the_left_page-color);
}
.the_center_nav .icon{
    margin-right: 25px;
    font-size: 25px;
    padding: 10px 30px; 
    transition: all 0.5s;
    position: relative;
    text-decoration: none;
}
.the_center_nav .icon:hover,
.the_center_nav .icon:active{
    background-color:var(--nav-center-icon-color);
    border-radius: 10px;
    cursor: pointer;
}
.the_center_nav .icon:hover::after,
.the_center_nav .icon:active:after{
    position: absolute;
    content: "_______";
    top:20px;
    left: 1px;
    bottom: 1px;
}

.center_page_fix{
    margin-right: 500px;
}
.the_right_nav{
  display:flex;
  align-items: center;
  margin-right: 20%;
  color:var(--text-the_left_page-color);
}
.the_right_nav .icon{
  margin-right: 10px;
  font-size: 25px;
  color: var(--text-the_left_page-color);
}
/* -------------page---------- */
.page{
    background-color:  var(--page-color);
    height:100%;
    width:100%;
    display: flex;
}
.the_left_page{
   margin-top: 5%;
   background-color:var(--the_left_page-color);
   display: flex;
   width: 16%;
   flex-direction: column;
   border-radius:10px;
   font-size:16px;
}
 .letf_page{
   position:fixed;
}

.left_page_fix{
    margin-top: 5500px;
}

.the_left_page li{
   margin-top:40px;
   list-style: none;
}
.the_left_page .menu li{
    transition:all 0.5s;
    padding-left: 25px;
}
.the_left_page .menu li:hover,
.the_left_page .menu li:hover{
    background-color:var(--nav-center-icon-color);
    padding:10px;
    padding-left: 10px;
    border-radius:15px;
    cursor: pointer;
}
.the_left_page li span{
   font-weight:550;
   font-size: 17px;
   color:var(--text-the_left_page-color);
}
.the_left_page li .icon{
   font-size: 20px;
   margin-right: 15px;
}
.the_left_page .mode{
    margin-left:25px;
    margin-top:90%;
    display: flex;
}
.the_left_page .mode .moon-sun{
      height:25px;
      width: 25px;
      display: flex;
      align-items: center;
}
.the_left_page .mode i{
    position: absolute;

}
.the_left_page .mode-text{
   font-size:16px;
}
.the_left_page .mode i.sun{
      opacity: 0;
}
body.dark .the_left_page .mode i.sun{
   opacity: 1;
}
body.dark .the_left_page .mode i.moon{
   opacity: 0;
}
.the_left_page .mode .toggle-switch{
    display:flex;
    align-items: center;
    justify-content:center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height:22px;
    width:44px;
    border-radius:25px;
    background:var(--toggle-color);
} 
.switch::before{
   content:'';
   position: absolute;
   height:15px;
   width: 15px;
   border-radius:50%;
   top:50%;
   left:5px;
   transform: translateY(-50%);
   background:var(--the_left_page-color);
   transition:var(--tran-03);
}
body.dark .switch::before{
    left:25px;
}
                    /* center page */
.center_page{
     display:flex;
     flex-direction: column;
     margin-left: 30%;
     margin-top: 5%;
     color:var(--text-the_left_page-color);
}
.Infor{
    display:flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    background-color:var(--the_left_page-color);
    padding: 10px;
    width: 510px;
    border-radius: 20px;
    margin-bottom: 30px;
    box-shadow: 0px 2px 4px 1px var(--shadow-header-color);
  }
.Infor .author img{
    width:50px;
    border-radius:50%;
}
.Infor .author{
    margin-top:5px;
    margin-left: 8px;
    display: flex;
}
hr{
  margin-top:30px;
}
.img1{
  display: flex;
}
.img{
  margin-top: 10px;
  margin-right: 5px;
  display:flex;
  flex-direction: column;
}

.emotion{
   margin-top: 10px;
   font-size:25px;
}
.emotion i{
  margin-left:10px;
}
.decription{
   display:flex;
   justify-content:space-around;
   align-items: center;
}
.donate-investment{
   display:flex;
   margin-top: 5px;
}
.donate-investment .donate{
   margin-right: 20px;
   padding:7px;
   border:solid 1px #5a5a5a;
   border-radius:15px;
   transition: all 0.5s;
}
.donate-investment .donate:hover,
.donate-investment .donate:active{
   background-color:var(--nav-center-icon-color);
   cursor: pointer;
}
.donate-investment .investment{
   padding:7px;
   border:solid 1px #5a5a5a;
   border-radius:15px;
   transition: all 0.5s;
}
.donate-investment .investment:hover,
.donate-investment .investment:active{
   background-color:var(--nav-center-icon-color);
   cursor: pointer;
}
.Infor .info-des{
  margin-top: 5px;
}
 .AI .info-des img{
   width: 250px;
}
.Infor .info-des p{
   margin-left: 15px;
}

.infor_author{
   display: flex;
   margin-left: 10px;
   flex-direction: column;
}
.author .infor_author span{
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size:17px;
   font-weight:700;
}
.img-App img{
    width:100%;
    margin-top: 10px;
}
.video-game{
  margin-top: 10px;
}
.img-Costume{
   display:flex;
   margin-right: 2px;
   margin-top: 10px;
}
.img-Costume .img_item1{
   width: 290px;
   height:435px;
   margin-right:1px;
}
.img-Costume .img-item{
   display: flex;
   flex-direction: column;
}
.img-Costume .img-item img{
   width: 200px;
   margin-top: 1px;
}
/*--------------------------------- the right page------------------------ */
.the_right_page{
  margin-top: 6%;
  margin-left: 8%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.ranking{
   font-weight: 595;
   color:var(--text-the_left_page-color);
   margin-top: 10px;
}
.investor_rankings{
  position:fixed;
}
.Investor img{
  width:50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.Investor{
  display:flex;
  margin-left: 12%;
  margin-top:10%;
  font-size: 16px ;
  
}
li{
  list-style: none;
  margin-bottom: 30px;
  margin-top: 10px;
}

.Investor span{
   color:var(--text-the_left_page-color);
}
.infor_Investor{
   margin-left: 5px;
   display: flex;
   flex-direction: column;
}

.Top_project_fix{
    position:fixed;
}

.Top_project{
   margin-top:10px;
   top:350px;
}

.Project {
  display: flex;
  transition: all 0.5s;
}

.Project:hover,
.Project:active{
   cursor: pointer;
   background-color:var(--nav-center-icon-color);
   padding:5px;
   padding-bottom: 10px;
   border-radius:10px;
}

.Project img{
   width: 130px;
   border-radius: 10%;
   margin-top: 10px;
   margin-left: 10px;
   margin-right: 10px; margin-right: 10px;
   box-shadow:0px 2px 4px 1px var(--shadow-header-color); ;
}
.Project span{
   font-size:16px;
   color: var(--text-the_left_page-color);
}
 
a{
  text-decoration: none;
}
/*----------------footer----------------------*/
.ctn__footer {
  width: 100%;
  /* background-color: rgb(72, 68, 68); */
  background-color: #000000;
  list-style:none;
  margin-top: 50px;
  position: relative;
  text-align: center;
}

.ctn__footer__content {
  width: 90%;
  height: 300px;
  padding: 40px 0 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  font-family: proxima-nova,Helvetica Neue,Helvetica,Arial,sans-serif;
  flex: 1;
}

.ctn__footer__content .footer__colum {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.ctn__footer__content .footer__colum a {
  text-decoration: none;
  color: var(--header-color);
}

.ctn__footer__content .footer__colum>a {
  align-self: center;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 16px;
  padding-bottom: 8px;
  align-self: flex-start;
  border-left: 2px solid hsla(0,0%,100%,.2);
  width: 100%;
}

.ctn__footer__content .footer__colum li{
  font-size: 14px;
  list-style: none;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 12px;
  margin-top: 12px;
}

.ctn__footer__content .footer__colum li>a {
  color: #979797;
}

.f__follow .list-follow a {
  margin: 0 5px;
}

.f__follow .list-follow i {
  font-size: 30px;
}

/*----------------another footer----------------------*/

.ctn__footer__describle {
  background-color: var(--footer-end-color);
  color: var(--footer-content-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-bottom: 100px;
}

.ctn__footer__describle .describle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.ctn__footer__describle .sponsor {
  margin-top: 40px;
  width: 100vh;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 900;
}

.sponsor .ctn__brands__img {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.ctn__footer__describle .describle .coppyright {
  margin: 36px 0;
  font-size: 14px;
  color: var(--footer-content-color-bright);
}

.ctn__footer__describle .describle .content__describle{
  margin-top: 16px;
  width: 72%;
  font-size: 12px;
  text-align: justify;
}


/*=============loading==================*/
.ctn__loading__body {
  position: fixed;
  top:0;
  right:0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: rgba(181, 181, 181, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.ctn__loading__body.open__load {
  animation-delay: 5s;
  display: flex;
}

.ctn__loading {
  animation: #fff linear 4s infinite;
  background-image: url(/Logo/PRO4-logos_black.png);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;

}

.ctn__loading__content {
  position: relative;
  width: 130px;
  height: 130px;
  border: 13px solid #00CCFF;
  border-radius: 50%;
  border-bottom-color: transparent;
  border-left-color: transparent;
  animation: rotate1 linear 2s infinite;
}

.ctn__loading__content::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border: 13px solid aquamarine;
  border-radius: 50%;
  border-bottom-color: transparent;
  border-left-color: transparent;
  animation: rotate2 linear 2s infinite;
}



@keyframes changecolor {
  0%{
      filter: hue-rotate(0deg);
  }
  100%{
      filter: hue-rotate(360deg);
  }
}

@keyframes rotate1 {
  0% {
      transform: rotate(0deg);
  }
  100%{
      transform: rotate(360deg);
  }
}

@keyframes rotate2 {
  0% {
      transform: rotate(0deg);
  }
  100%{
      transform: rotate(-720deg);
  }
}