    <header>
        <div class="the_left_nav">
          <div class="logo">
              <p>PRO4</p>
          </div>
          <div class="search">
              <i class="fa-solid fa-magnifying-glass icon"></i>
              <input type="text" placeholder="Search...">
          </div> 
        </div>
        <div class="the_center_nav">
            <a id="homepage" class="fa-solid fa-house icon 1"></a>
            <a id="product" class="fa-solid fa-earth-americas icon 2"></a>
            <a id="projects" class="fa-solid fa-circle-dollar-to-slot icon 3" style="font-size: 28px;"></a>

        </div>
        <div class="the_right_nav" onclick=handle_user()>
            <img id="img_login" src="{{users.img_author}}" alt="">
                <p>{{users.name_author}}</p>
                <ul class="user-drop">
                        <i class="fa-solid fa-xmark project_close " onclick=handle_user()> </i>
                        <div class="menu_drop">
                            <li>
                               <a href="/profile"> Profile </a> 
                            </li>
                            <li>
                                 <a href="#"> Statistic </a> 
                            </li>
                            <li>
                                <a href="/post_project_created"> Add new project </a>
                            </li>
                             <li>
                                <a href="home"> Logout </a>
                            </li>
                        </div> 
                    </ul>  
        </div>     
        <div class="bars">
            <i class="ti-menu" onclick=open_nav_mobile()></i>
        </div>    
        <div class="nav_mobile">
            <div class="close" onclick=close_nav_mobile()>
                <i class="ti-close">
                    
                </i>
                Close
            </div>
            <div class="homepage" style="padding: 20px;">
                <a id="homepage" class="fa-solid fa-house icon 1" style="padding: 0 10px;" href="homepage">
                </a>
                <a href="homepage">
                    HOME
                </a>
            </div>
            <div class="product" style="padding: 20px;">
                <a id="product" class="fa-brands fa-atlassian icon 2" style="padding: 0 10px;" href="product">
                </a>
                <a href="product">
                    POSTS
                </a>
            </div>
            <div class="projects" style="padding: 20px;">
                <a id="projects" class="fa-solid fa-earth-americas icon 3" style="padding: 0 10px;" href="detail">
                </a>
                <a href="detail">
                    PROJECTS
                </a>
            </div>
        </div>
    </header>



























