 <div class="main-container">
        <div class="login">
            <div class="login__form-container">
                <!-- <div class="login__icon">
                    <img src="img/logo.png" alt="logo">
                </div> -->
                <form action="signup" method="POST" class="login__form">
                    <p class="login__title">
                        Sign Up 
                    </p>
                    <p class="login__decs">
                        Professional Crowdfunding Platform - Let's explore ! 
                    </p>
                    <label for="name">Name*</label>
                    <input type="text" name="name" id="name" placeholder="display name">
                    <label for="img_author">Image_author</label>
                    <input type="text" name="img_author" id="img_author" placeholder="img address">
                    <label for="email">Email*</label>
                    <input type="email" name="email" id="email" placeholder="user@mail.com">
                    <label for="password">Password*</label>
                    <input type="password" name="password" id="password" placeholder="strong password">
                    <p class="conditions">
                        <input type="checkbox">
                        I agree to the 
                        <a href="#">Terms and Conditions</a>
                    </p>
                    <button type="submit" >Sign Up</button>
                   
                </form>
            </div>
            <div class="login__banner" style="background : url(img/imglogin/crownfuding.png) top center / cover no-repeat;">

            </div>
        </div>
    </div>