@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil&family=Josefin+Sans&family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil&family=Josefin+Sans&family=Nunito:ital,wght@0,300;1,200;1,300&family=Patua+One&display=swap');

/*---------animate-----------*/
.animate__animated.animate__bounceInUp {
  --animate-duration: 2s;
}

.animate__animated.animate__bounceInRight {
  --animate-duration: 2s;
}

/*--------------------------*/

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
:root{
  --primary-color-light:#F6F5FF;
  --header-color:#fff;
  --body-color:#ffffff;
  --search-color:#ebebeb;
  --nav-center-icon-color:#e0e0e0;
  --page-color:#f7f7f7;
  --the_left_page-color:#fff;
  --text-the_left_page-color:#727272;
  --toggle-color:#DDD;
  --shadow-header-color:#dbdbdb;
  --footer-end-color : #2a262c;
  --footer-content-color : #666;
  --footer-content-color-bright: #7b8490;

  --tran-02:all 0.2s ease;
  --tran-03:all 0.3s ease;
  --tran-04:all 0.4s ease;
  --tran-05:all 0.5s ease;
}
body.dark{
  --primary-color-light:#F6F5FF;
  --header-color:#242526;
  --body-color:#18191A;
  --search-color:#494949;
  --nav-center-icon-color:#868383;
  --page-color:#18191A;
  --the_left_page-color:#242526;
  --text-the_left_page-color:#CCC;
  --toggle-color:#FFF;
  --shadow-header-color:#383636;
}
body{
  transition:var(--tran-04);
  position: relative;
  /* overflow: hidden; */
}

html{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #5a5a5a;
    background-color: var(--body-color);
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}
header{
  display:flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  box-shadow:0 1px 5px 2px var(--shadow-header-color);
  position:fixed;
  top:0;
  background-color:var(--header-color);
  z-index: 2;
}

.the_left_nav{
    display:flex;
    align-items: center;
    margin-left:2%;
    color:var(--text-the_left_page-color);
 }

 .logo{
  width: 110px;
  height: 100%;
  margin-right: 20px;
}

.logo img {
 width: 100%;
 height: 100%;
}

 .search{
   display:flex;
   padding:12px 20px;
   background-color:var(--search-color);
   border-radius: 20px;
 }
 .search input{
     margin-left: 4px;
     border:none;
     outline:none;
     background-color: var(--search-color);
 }
 .search .icon{
    font-size:16px;
    margin-right: 5px;
 }
 .the_center_nav{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    color:var(--text-the_left_page-color);
 }
 .the_center_nav .icon{
     margin-right: 25px;
     font-size: 25px;
     padding: 10px 30px; 
     transition: all 0.5s;
     position: relative;
     text-decoration: none;
 }
 .the_center_nav .icon:hover,
 .the_center_nav .icon:active{
     background-color:var(--nav-center-icon-color);
     border-radius: 10px;
     cursor: pointer;
 }
 .the_center_nav .icon:hover::after,
 .the_center_nav .icon:active:after{
     position: absolute;
     content: "_______";
     top:20px;
     left: 1px;
     bottom: 1px;
 }
 
 .user-drop{
   background-color:var(--shadow-header-color);
   display: flex;
   width: 0;
   height:0;
   flex-direction: column;
   border-radius:10px;
   font-size:16px;
   position:relative;
   transition:all 0.2s;
   opacity: 0;
   position:absolute;
   top:55px;
   right:0; 
   animation: fadeIn;
}
.user-drop li{
   margin-top:30px;
   list-style: none;
   margin-left: 20px;
   cursor: pointer;
}
.the_right_nav img{
   width: 50px;
   height: 50px;
   border-radius: 50%;
   margin-right: 10px;
}
.the_right_nav p{
   font-size:14px;
}
 .open1{
    opacity: 1;
    width: 180px;
     height: 230px;
  }
  .drop-bars-btn{
  position: absolute;
  top:20px;
  right: 20px;
   font-size:18px;
   font-weight:25px;
   cursor: pointer;
}
a{
  text-decoration: none;
  color: var(--text-the_left_page-color);
}
.project_close{
    font-size: 1.3rem;
    color:#666;
    position: absolute;
    top: 3px;
    right: 10px;
    cursor: pointer;
}
 
 .the_right_nav{
   display:flex;
   align-items: center;
   margin-right: 20%;
   color:var(--text-the_left_page-color);
   position: relative;
 }
 .the_right_nav .icon{
   margin-right: 10px;
   font-size: 25px;
   color: var(--text-the_left_page-color);
 }

/*----------RESPONSIVE__Mobile------------*/

header .nav_mobile {
    padding: 5%;
    width: 100%;
  }
  
  header .close {
    font-weight: bold;
  }
  header .close i{
    font-weight: bold;
  }
  
  header .close:hover i{
  
  }
  /*----------bars------------*/
  .bars {
    display: none;
     align-items: center;
     justify-content: center;
     /* margin-right: 30px; */
     color:var(--text-the_left_page-color);
  }
  
  .bars i{
    /* margin-right: 25px; */
    font-size: 25px;
    padding: 10px 30px; 
    transition: all 0.5s;
    position: relative;
    text-decoration: none;
  }
  
  .bars i:hover {
    background-color:var(--nav-center-icon-color);
    border-radius: 10px;
    cursor: pointer;
  }

  /*----------nav_mobile------------*/
.nav_mobile {
    position: fixed;
    /* height: 200px; */
    transform: translateX(100%);
    top:0;
    left: 0;
    right: 0;
    background-color: white;
  }
  
  @keyframes spin_open_nav_mobile {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  
  @keyframes spin_close_nav_mobile {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  .nav_mobile .close:hover{
    cursor: pointer;
  }
  
  .nav_mobile .homepage:hover{
    padding: 10px;
    cursor: pointer;
  }
  
  .nav_mobile .product:hover{
    cursor: pointer;
  }
  
  .nav_mobile .projects:hover{
    cursor: pointer;
  }
  
  .nav_mobile a {
    text-decoration: none;
    color: #5a5a5a;
    font-weight: bold;
  }

/*----------main_post---------------*/

/**/

.nav_main_post {
  margin-top: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav_main_post ul{
  border: 4px solid #727272;
  display: flex;
  justify-content: center;
  border-radius: 50px;
}

.nav_main_post ul div i{
  padding: 0 20px;
}

.nav_main_post ul .over_view{
  border-radius: 50px 0 0 50px;
}

.nav_main_post ul .rewards{
  border-radius: 0 50px 50px 0;
}

.nav_main_post ul div:hover{
  background-color: #e0e0e0;
  cursor: pointer;
}

.nav_main_post div{
  padding: 10px 50px;
}


/*----------------main_post------------------*/

.main_post {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

/**/

.main_post form {
  display: flex;
  flex-direction: row;
}

.main_post form .form-group{
  width: 100%;
  margin: 0 0 20px 0;
}

.main_post form label{
  font-size: 30px;
}

.main_post form input{
  font-size: 30px;
  width: 100%;
}

.main_post form button{
  margin: 0px 50px 60px 70%;
  font-size: 30px;
}

.main_post .form-group .form-control{

  transition: 0.5s;
}

.main_post .form-group span{
    position: absolute;
    left: 0;
    padding: 20px 35px;
    pointer-events: none;
    color: rgba(4, 0, 0, 0.25);
    text-transform: uppercase;
    transition: 0.5s;
}

.main_post .form-control:valid ~ span,
.main_post .form-control:focus ~ span{
    color: black;
    transform: translateX(40px) translateY(-7px);
    font-size: 0.75em;
    padding: 0 20px;
    /* background: #1d2b3a; */
    background-color: white;
    border-left: 1px solid black;
    border-right: 1px solid black;
    letter-spacing: 0.20em;
}

.main_post .form-control:valid,
.main_post .form-control:focus{
    border: 1px solid #00dfc4;
}
/*----------------FAQ_post------------------*/

.FAQ_post {
  margin-top: 60px;
  display: none; 
  justify-content: center;
}

.FAQ_post button{
  display: flex;
  justify-content: center;
  
}

.FAQ_post button i{
  margin: 0 20px;
}

.FAQ_post .add_FAQ{
  width: 100%;
  border: 1px solid #333;
  display: flex;
  justify-content: center;
}



.FAQ_post .add_FAQ button:hover{
  cursor: pointer;
}

.FAQ_post .add_FAQ input{
  width: 100%;
  font-size: 20px;
  padding: 10px 30px;
  transition: 0.5s;

}

/*----------------story_post------------------*/

.story_post {
  margin: 60px 0;
  width: 100%;
  display: none;
  justify-content: center;
}
/*------button_add_str------*/

.story_post .button_add_str{
  position: fixed;
  top: 238px;
  left: 98px;
  width: 20%;
  display: flex;
  flex-direction: column;
}

.story_post button {
  background-color: white;
  padding: 20px;
  margin: 10px 30px;
  font-size: 15px;

}

.story_post button i{
  font-size: 20px;
  padding: 0 10px;
}

.story_post button:hover {
  cursor: pointer;
}
/*------input_add_str------*/

.story_post .input_add_str{
  width: 100%;
  margin: 0 40px;
  /* background-color: #8e6b6b; */
}










































/*==================PREVIEW==================*/

#modal_preview{
  position: fixed;
  top: 80px;
  left: 100px;
  right: 100px;
  bottom: 20px;
  background-color: white;
  border: 2px solid #000000;
  z-index: 1;
  padding: 30px;
  display: none;
  flex-direction: column;
}

#modal_preview>div i:hover{
  cursor: pointer;
}

/*----preview_img----*/

#modal_preview .img_preview{
  width: 50%;
  padding: 40px 10px;
}

#modal_preview .img_preview .main_prj_video{
  width: 100%;
  height: 80%;
  background-size: 100%;
  background-repeat: no-repeat;
}

/*----preview_info----*/

#modal_preview .info_preview{
  width: 45%;
  display: flex;
  flex-direction: column;
}

#modal_preview .info_preview h5{
  color: #427fb8;
  padding: 10px 0;
}

#modal_preview .info_preview h2{
  color: black;
  font-weight: bold;
}

#modal_preview .info_preview h4{
  padding: 20px 0;
}



/*---------ctn_statistic----------*/

#modal_preview .ctn_statistic {
  border-top: 5px solid #427fb8;
}

#modal_preview .ctn_statistic .ctn_pledged_backers{
  display: flex;
  flex-direction: row;
}

#modal_preview .ctn_statistic .ctn_pledged_backers .backers,
#modal_preview .ctn_statistic .ctn_pledged_backers .pledged{
  font-weight: bold;
  text-align: center;
  width: 50%;
  font-size: 30px;
  padding: 20px 0;
  color: #427fb8;
}

#modal_preview .ctn_pledged_backers .backers .title,
#modal_preview .ctn_pledged_backers .pledged .title{
  font-size: 20px;
  color: black;
  padding: 10px 0;
}

/*------complete figures-------*/
#modal_preview .complete_figures {
  width: 100%;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 10px;

}

@keyframes increase_percent {
0% {
  width: 0%;
}
100%{
  width: 0%;
}
}

#modal_preview .complete_figures .complete{
  animation-name: increase_percent;
  animation-duration: 2s;
  
  width: 0%;
  height: 100%;
  background-color: #55a1e9;
}

#modal_preview .main_prj_content .percent_complete{
  padding: 10px 0;
}

/*------------form_donate----------------*/

#modal_preview .form_donate{
  display: flex;
  flex-direction: row;
  margin: 30px 0;
}

#modal_preview .form_donate .support_this{
  background-color: #336491;
  font-size: 15px;
  color: white;
  border: none;
  padding: 15px;
  width: 30%;
  margin: 0 20px;
}

#modal_preview .form_donate .follow{
  background-color: #336491;
  color: white;
  font-size: 15px;
  border: none;
  padding: 15px;
  width: 30%;
  margin: 0 20px;
}

#modal_preview .form_donate .follow:hover,
#modal_preview .form_donate .support_this:hover{
cursor: pointer;
}

#modal_preview .form_donate .ctn_social{
  width: 40%;
  display: flex;
  justify-content: flex-end;
}

#modal_preview .form_donate .ctn_social i{
  font-size: 30px;
  margin: 0 10px;
}

#modal_preview .form_donate .ctn_social i:hover{
cursor: pointer;
}

#preview {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30%;
  font-size: 30px;
  margin: 0px 50px 80px 10%;

}








































  /*----------------footer----------------------*/
.ctn__footer {
  width: 100%;
  /* background-color: rgb(72, 68, 68); */
  background-color: #000000;
  list-style:none;
  position: relative;
  text-align: center;
}

.ctn__footer__content {
  width: 90%;
  height: 300px;
  padding: 40px 0 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  font-family: proxima-nova,Helvetica Neue,Helvetica,Arial,sans-serif;
  flex: 1;
}

.ctn__footer__content .footer__colum {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.ctn__footer__content .footer__colum a {
  text-decoration: none;
  color: var(--header-color);
}

.ctn__footer__content .footer__colum>a {
  align-self: center;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 16px;
  padding-bottom: 8px;
  border-left: 2px solid hsla(0,0%,100%,.2);
  width: 100%;
}

.ctn__footer__content .footer__colum li{
  font-size: 14px;
  list-style: none;
  font-weight: 600;
  margin-bottom: 12px;
  margin-top: 12px;
}

.ctn__footer__content .footer__colum li>a {
  color: #979797;
}

.f__follow .list-follow a {
  margin: 0 5px;
}

.f__follow .list-follow i {
  font-size: 30px;
}

/*----------------another footer----------------------*/

.ctn__footer__describle {
  background-color: var(--footer-end-color);
  color: var(--footer-content-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-bottom: 100px;
}

.ctn__footer__describle .describle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.ctn__footer__describle .sponsor {
  margin-top: 40px;
  width: 100vh;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 900;
}

.sponsor .ctn__brands__img {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.ctn__footer__describle .describle .coppyright {
  margin: 36px 0;
  font-size: 14px;
  color: var(--footer-content-color-bright);
}

.ctn__footer__describle .describle .content__describle{
  margin-top: 16px;
  width: 72%;
  font-size: 12px;
  text-align: justify;
}

/*=============footer-mobile==================*/
.ctn__footer-mobile {
  display: none;

}









