@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil&family=Josefin+Sans&family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil&family=Josefin+Sans&family=Nunito:ital,wght@0,300;1,200;1,300&family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
/*---------animate -----------------*/
.animate__animated.animate__bounceInUp {
  --animate-duration: 2s;
}
.animate__animated.animate__bounceInRight {
  --animate-duration: 2s;
}


/*--------------------------*/

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
:root{
  --primary-color-light:#F6F5FF;
  --header-color:#fff;
  --body-color:#ffffff;
  --search-color:#ebebeb;
  --nav-center-icon-color:#e0e0e0;
  --page-color:#f7f7f7;
  --the_left_page-color:#fff;
  --text-the_left_page-color:#727272;
  --toggle-color:#DDD;
  --shadow-header-color:#dbdbdb;
  --footer-end-color : #2a262c;
  --footer-content-color : #666;
  --footer-content-color-bright: #7b8490;

  --tran-02:all 0.2s ease;
  --tran-03:all 0.3s ease;
  --tran-04:all 0.4s ease;
  --tran-05:all 0.5s ease;
}
body.dark{
  --primary-color-light:#F6F5FF;
  --header-color:#242526;
  --body-color:#18191A;
  --search-color:#494949;
  --nav-center-icon-color:#868383;
  --page-color:#18191A;
  --the_left_page-color:#242526;
  --text-the_left_page-color:#CCC;
  --toggle-color:#FFF;
  --shadow-header-color:#383636;
}
body{
  transition:var(--tran-04);
  position: relative;
  /* overflow: hidden; */
}

html{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #5a5a5a;
    background-color: var(--body-color);
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}
header{
  display:flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  box-shadow:0 1px 5px 2px var(--shadow-header-color);
  position: fixed;
  top:0;
  background-color:var(--header-color);
  z-index: 2;
}

.the_left_nav{
    display:flex;
    align-items: center;
    margin-left:2%;
    color:var(--text-the_left_page-color);
 }

 .logo{
    margin-right:15px;
    background-color:rgb(0, 0, 0);
    padding:7px 15px;
    color:white;
    font-weight:800;
    border-radius:5px;
 }
 .search{
   display:flex;
   padding:12px 20px;
   background-color:var(--search-color);
   border-radius: 20px;
 }
 .search input{
     margin-left: 4px;
     border:none;
     outline:none;
     background-color: var(--search-color);
 }
 .search .icon{
    font-size:16px;
    margin-right: 5px;
 }
 .the_center_nav{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    color:var(--text-the_left_page-color);
 }
 .the_center_nav .icon{
     margin-right: 25px;
     font-size: 25px;
     padding: 10px 30px; 
     transition: all 0.5s;
     position: relative;
     text-decoration: none;
 }
 .the_center_nav .icon:hover,
 .the_center_nav .icon:active{
     background-color:var(--nav-center-icon-color);
     border-radius: 10px;
     cursor: pointer;
 }
 .the_center_nav .icon:hover::after,
 .the_center_nav .icon:active:after{
     position: absolute;
     content: "_______";
     top:20px;
     left: 1px;
     bottom: 1px;
 }
 
 .the_right_nav{
   display:flex;
   align-items: center;
   margin-right: 20%;
   color:var(--text-the_left_page-color);
   position: relative;
 }
 .the_right_nav .icon{
   margin-right: 10px;
   font-size: 25px;
   color: var(--text-the_left_page-color);
 }
 .user-drop{
   background-color:var(--shadow-header-color);
   display: flex;
   width: 0;
   height:0;
   flex-direction: column;
   border-radius:10px;
   font-size:16px;
   position:relative;
   transition:all 0.2s;
   opacity: 0;
   position:absolute;
   top:55px;
   right:0; 
   animation: fadeIn;
}
.user-drop li{
   margin-top:30px;
   list-style: none;
   margin-left: 20px;
   cursor: pointer;
}
.the_right_nav img{
   width: 50px;
   height: 50px;
   border-radius: 50%;
   margin-right: 10px;
}
.the_right_nav p{
   font-size:14px;
}
 .open1{
    opacity: 1;
    width: 180px;
     height: 230px;
  }
  .drop-bars-btn{
  position: absolute;
  top:20px;
  right: 20px;
   font-size:18px;
   font-weight:25px;
   cursor: pointer;
}
a{
  text-decoration: none;
  color: var(--text-the_left_page-color);
}
.project_close{
    font-size: 1.3rem;
    color:#666;
    position: absolute;
    top: 3px;
    right: 10px;
    cursor: pointer;
}

/*----------RESPONSIVE__Mobile------------*/

header .nav_mobile {
    padding: 5%;
    width: 100%;
  }
  
  header .close {
    font-weight: bold;
  }
  header .close i{
    font-weight: bold;
  }
  
  header .close:hover i{
  
  }
  /*----------bars------------*/
  .bars {
    display: none;
     align-items: center;
     justify-content: center;
     /* margin-right: 30px; */
     color:var(--text-the_left_page-color);
  }
  
  .bars i{
    /* margin-right: 25px; */
    font-size: 25px;
    padding: 10px 30px; 
    transition: all 0.5s;
    position: relative;
    text-decoration: none;
  }
  
  .bars i:hover {
    background-color:var(--nav-center-icon-color);
    border-radius: 10px;
    cursor: pointer;
  }

  /*----------nav_mobile------------*/
.nav_mobile {
    position: fixed;
    /* height: 200px; */
    transform: translateX(100%);
    top:0;
    left: 0;
    right: 0;
    background-color: white;
  }
  
  @keyframes spin_open_nav_mobile {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  
  @keyframes spin_close_nav_mobile {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  .nav_mobile .close:hover{
    cursor: pointer;
  }
  
  .nav_mobile .homepage:hover{
    padding: 10px;
    cursor: pointer;
  }
  
  .nav_mobile .product:hover{
    cursor: pointer;
  }
  
  .nav_mobile .projects:hover{
    cursor: pointer;
  }
  
  .nav_mobile a {
    text-decoration: none;
    color: #5a5a5a;
    font-weight: bold;
  }



/*=-=-=-=-=-=-------content_profile--------=-=-=-=-=-*/

.content_profile{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
/*-------------profile right left -------------*/
.left_content{
    width: 30%;
    background-image: linear-gradient(#c5dfdf, #bcb1dc);
    height: 100%;
    position: fixed;
    top : 0;
    display: flex;
    flex-direction: column;
    
}


/*--------------detail right left------------------*/

.left_content .avatar_profile{
    
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: 0 auto;
}

.left_content .name_user{
    margin: 30px 0;
    text-align: center;
}

.left_content .title_user{
    text-align: center;

}

.left_content .edit{

}

.left_content .edit button{
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    width: 100%;
    border: 2px solid rgb(223, 202, 202);
    margin: 30px 0 0 0;
}

.left_content .edit button:hover{
    cursor: pointer;
    border: 2px solid rgb(233, 220, 220);

}


/*-------------right-content----------------*/

.content_profile .right_content{
    width: 70%;
    /* background-color: rgb(209, 201, 201); */
    /* height: 1000px; */
    margin-top: 60px;
}

.content_profile .right_content .nav{
    display: flex;
    margin: 10px 0;
    justify-content: center;
}

.content_profile .right_content .nav div{
    text-align: center;
    /* background-color: #b9adad; */
}

/*---------header_profile--------------*/

.wrapper {
	display: flex;
    justify-content: space-between;
    width: 100%;
}

.icon {
	margin: 0 20px;
	cursor: pointer;
	position: relative;
}

.icon i {
	height: 60px;
	width: 60px;
	border-radius: 50% ;
	background: #fff;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	font-size: 25px;
	display: flex;
	align-items: center;
	justify-content: center;

}

.icon .tooltip {
	position: absolute;
	top: 0;
	left: 160px;
	transform: translateX(-50%);
	color: #fff;
	padding: 15px 18px;
	font-size: 20px;
	font-weight: 500;
	border-radius: 0 25px 25px 0;
	opacity: 0.2;
	pointer-events: none;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

/* .icon .tooltip:before {
	position: absolute;
	content: '';
	height: 15px;
	width: 15px;
	left: 50%;
	bottom: -6px;
	transform: translateX(-50%) rotate(45deg);
} */

.tooltip,
.icon i {
	transition: 0.3s;
}

.icon:hover .tooltip {
	opacity: 1;
	pointer-events: auto;
	top: 0px;
}

.icon:hover i {
	color: white;
}

.user .tooltip:before,
.user:hover i,
.user .tooltip {
	background-color: #a28ce6;
    color: white;
}

.user:hover i {
  border-radius: 50% 0 0 50%;
}

.my_project .tooltip:before,
.my_project:hover i,
.my_project .tooltip {
	  background-color: #5766dc;
    color: white;
}

.my_project:hover i{
  border-radius: 50% 0 0 50%;
}

.prj_favorite .tooltip:before,
.prj_favorite:hover i,
.prj_favorite .tooltip {
	background-color: #dc5788;
  color: white;
}

.prj_favorite:hover i{
  border-radius: 50% 0 0 50%;
}

.log_out .tooltip:before,
.log_out:hover i,
.log_out .tooltip {
	background-color: #584c50;
    color: white;
}

.wrapper span{
    width: 200px;
}

.wrapper .user span {
  opacity: 1;
  color: white;
}

.wrapper .user i{
  background-color: #a28ce6;
  color: white;
  border-radius: 50% 0 0 50%;
}

/*--------------ctn about me -----------------*/

.right_content .nav_bar_profile{
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav_bar_profile .ctn_about_me {
  width: 95%;
  margin: 20px;
  border-radius: 50px;
  background-color: #eff0fa;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav_bar_profile .ctn_about_me .info_user{
  width: 60%;
  height: 470px;
}

.nav_bar_profile .ctn_about_me .project_demo_user{
  width: 35%;
  /* background-color: #cac6c6; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 100px; */
}

/*-------project_demo_user-------------*/

.project_demo_user ul{
  position: relative;
  transform: skewY(-5deg);
}
.project_demo_user ul li{
  position: relative;
  list-style: none;
  width: 150px;
  background: #5766dc;
  padding: 15px;
  transition: 0.5s;
  z-index: calc(1 * var(--i));
}
.project_demo_user ul li:hover{
  transform: translateX(50px);
  background: var(--clr);
}
.project_demo_user ul li::before{
  content: '';
  position: absolute;
  top: 0;
  left: -40px;
  width: 40px;
  height: 100%;
  background: #4856c1;
  filter: brightness(0.7);
  transform-origin: right;
  transform: skewY(45deg);
  transition: 0.5s;
}
.project_demo_user ul li:hover::before{
  background: var(--clr);
  filter: brightness(0.7);
}
.project_demo_user ul li::after{
  content: '';
  position: absolute;
  top:-40px;
  left: 0;
  width: 100%;
  height: 40px;
  background: #4856c1;
  filter: brightness(0.9);
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: 0.5s;
}
.project_demo_user ul li:hover:after{
  background: var(--clr);
  filter: brightness(0.9);
}
.project_demo_user ul li a{
  text-decoration: none;
  color: #fff;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: 0.5s;
}
.project_demo_user ul li:hover a
{
  color: #fff;
}
.project_demo_user ul li:last-child::after{
  box-shadow: -120px 120px 20px rgba(0,0,0,0.25);
}
.project_demo_user ul li span{
  position: absolute;
  top: 0;
  left: -40px;
  width: 40px;
  height: 100%;
  filter: brightness(0.7);
  transform-origin: right;
  transform: skewY(45deg);
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  font-size: 1.25em;
}
.project_demo_user ul li:hover span{
  opacity: 1;
}

/*--------------ctn_my_project -----------------*/

.ctn_my_project {
  width: 95%;
  margin: 20px;
  border-radius: 50px;
  background-color: #eff0fa;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  height: 1000px;
}



/*--------------ctn_favorite_project -----------------*/

.ctn_favorite_project {
  display: none;

}



/*--------------trans nav bar------------------*/
.ctn_about_me.open,
.ctn_my_project.open,
.ctn_favorite_project.open {
  display: flex;
}




























  