
/*big tablet to 1200px: */
@media only screen and (max-width:1200px){
    
}

@media only screen and (max-width : 46.1875em){
    html{
        font-size:16px;
    }

    header{
        width: 100%;
        height: 110px;
        justify-content:center;
    }

    header .nav_pc {
        display: none;
    }

    header .mobile_nav {
        display: flex;
        width: 100%;
    }

    .page .the_left_page {
        display: none;
    }

    .nav_bars-btn{
        margin-right: 10%;
     }
     .navduoi{
         margin-top: 13%;
     }

     .logo{
         position:absolute;
         left:30px;
         top:10px
     }
     .search{
       position:absolute;  
       right:10px;
       top:5px;
     }

     .menu_mobile a {
         text-decoration: none;
     }

     /*--------res_featured_projects---------*/

    .featured_projects{
        display: none;
    }

    .potential_projects h4 {
        font-size: 25px;
        text-align: center;
    }
    .potential_projects .form{    
        flex-direction: column;
    }

    .potential_projects .form .form_1-1{    
        width: 100%;
    }

    .potential_projects .form_1-2 {    
        width: 100%;
    }

    .potential_projects .form_1-2 .block{    
        width: 50%;
    }
}




