

.main-container_sign_up {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--background-primary-color);
}

/* Start Left Main sign_up */

.sign_up {
    display: flex;
    width: 82%;
    height: 85%;
    background-color: var(--sign_up-primary-color);
}

.sign_up .sign_up__form-container {
    background-color: #fff;
    padding: 0 0 30px 0;
    width: 52%;
    height: 100%;
}

.sign_up__form-container .sign_up__form {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1rem;
}

.sign_up__form .sign_up__title {
    font-weight: 900;
    font-size: 1.4rem;
}



.sign_up__form button {
    line-height: 12px;
    font-size: large;
    background-color: var(--background-secondary-color);
    color: var(--sign_up-primary-color);
    border: 0;
    margin-top: 30px;
}

.sign_up__form button:hover {
    cursor: pointer;
    background-color: var(--darker-background-secondary-color);
}

.sign_up__form label,.sign_up__form p {
    align-self: start;
    margin-left: 4rem;
    margin-top: 13px;
}

.sign_up__form .sign_up__decs {
    margin-top: 0;
}

.sign_up__form >input, .sign_up__form button {
    height: 2.3rem;
    width: 80%;
    border-radius: 3rem;
    padding: 10px 15px;
    border: 1px solid #ccc;
}

.sign_up__form >input {
    font-size: 20px;
    background-color: var(--search-color);
}

.sign_up__form >input:focus {
    outline: none;
    box-shadow: 0 1px 5px 2px var(--shadow-header-color);
}

.sign_up__form .conditions a {
    text-decoration: none;
    font-weight: 600;
    color: var(--background-secondary-color);
} 

.sign_up__form .conditions> input {
    background-color: var(--background-secondary-color);
    border: 0;
}

/* End Left Main sign_up */

.sign_up .sign_up__banner {
    width: 50%;
    height: 100%;
}

